{
  "openapi": "3.1.0",
  "info": {
    "title": "Voltai API Docs.",
    "description": ".",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-prod.voltai.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/chat/query": {
      "post": {
        "description": "API to ask question from Voltai Agent.",
        "requestBody": {
          "description": "Ask a question.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatQuery": {
            "required": [
              "query",
              "topic_name"
            ],
            "type": "object",
            "properties": {
              "query": {
                "description": "User query.",
                "type": "string"
              },
              "topic_name": {
                "description": "Topic name.",
                "type": "string"
              },
              "chat_id": {
                "description": "If you want to ask a question from a previous thread.",
                "type": "string"
              }
            }
      },
      "Error": {
        "required": [
          "detail"
        ],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      },
      "ChatResponse": {
        "description": "Agent response item.",
        "type": "object",
        "properties": {
          "answer": {
            "type": "string",
            "description": "Answer text returned by the Voltai agent."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}