{
  "openapi": "3.1.0",
  "info": {
    "title": "Voltai API Docs.",
    "description": ".",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-prod.voltai.ai"
    },
    {
      "url": "http://localhost:8000"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/chat/query/": {
      "post": {
        "description": "API to ask question from Voltai Agent.",
        "requestBody": {
          "description": "Ask a question.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatQuery": {
            "required": [
              "query",
              "topic_name"
            ],
            "type": "object",
            "properties": {
              "query": {
                "description": "User query.",
                "type": "string"
              },
              "topic_name": {
                "description": "Topic name.",
                "type": "string"
              },
              "chat_id": {
                "description": "If you want to ask a question from a previous thread.",
                "type": "string"
              }
            }
      },
      "Error": {
        "required": [
          "detail"
        ],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      },
      "ChatResponse": {
        "description": "Agent response item.",
        "type": "object",
        "properties": {
          "final_answer": {
            "type": "string",
            "description": "Answer text returned by the Voltai agent."
          },
          "chat_id": {
            "type": "string",
            "description": "Chat ID. You can use this ID to ask a question from a previous thread."
          },
          "conv_id": {
            "type": "string",
            "description": "Conversation ID. This can be used for debugging purposes."
          },
          "sources": {
            "type": "array",
            "description": "Sources used to answer the question.",
            "items": {
              "type": "object",
              "properties": {
                "source_name": {
                  "type": "string",
                  "description": "Source Name."
                },
                "page": {
                  "type": "integer",
                  "description": "Page number of the source."
                },
                "url": {
                  "type": "string",
                  "description": "Source URL. Uses Voltai CDN."
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}