{
  "openapi": "3.1.0",
  "info": {
    "title": "Voltai API Docs.",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-prod.voltai.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/chat/query": {
      "post": {
        "description": "API to ask question from Voltai Agent.",
        "requestBody": {
          "description": "Ask a question.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatQuery": {
            "required": [
              "query",
              "topic_name"
            ],
            "type": "object",
            "properties": {
              "query": {
                "description": "User query.",
                "type": "string"
              },
              "topic_name": {
                "description": "Topic name.",
                "type": "string"
              },
              "chat_id": {
                "description": "If you want to ask a question from a previous thread.",
                "type": "string"
              }
            }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}